<div class="container center"> 
    <h3>Usuarios Inscritos</h3>
    <p>
        Estos son los usuarios inscritos a clubmat
    </p>
</div>
<div class="row">
    <div class="offset-m1 offset-l1 col s12 m10 l10"> 
        <div> 
            <table class ="responsive-table centered">
                <thead class = "indigo accent-2 white-text">
                    <tr>
                        <th data-field="name">Nombre</th>
                        <th data-field="name">Apellido</th>
                        <th data-field="name">Ciudad</th>
                        <th data-field="name">Rol</th>
                        <th data-field="name">Teléfono</th>
                        <th data-field="name">Usuario</th>
                        <th data-field="name">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users" (click)="changeSelected(user)" [class.selected]="selectedUser == user">
                        <td>{{user.nombre}}</td>
                        <td>{{user.apellido}}</td>
                        <td>{{user.ciudad}}</td>
                        <td>{{user.rol}}</td>
                        <td>{{user.telefono}}</td>
                        <td>{{user.usuario}}</td>
                        <td>{{user.email}}</td>       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class = "col s12 m5 l5 offset-m1 offset-l1">
        <a class="waves-effect btn blue lighten-2 col s12 m5 l5 btn" routerLink="/signup">Crear Usuario</a>  
        <a class="waves-effect btn blue col s12 m5 l5 offset-m1 offset-l1 btn" (click)="editUser()">Editar Usuario</a>  
    </div>
    <div class="col s12 m5 l5">
        <a class="waves-effect btn blue darken-2 col s12 m5 l5 btn" (click)="deleteUser()">Eliminar Usuario</a> 
        <a class="waves-effect btn blue darken-4 col s12 m6 l6 offset-m1 offset-l1" (click)="goBack()">Volver</a>   
    </div>
</div>
