<div class="container">
<div class ="row" style="min-height:100vh">
    <div class="col s12 m12 l12 center"> 
            <i class="material-icons prefix large" style ="color:black">assignment</i>
            <h3 style="margin-top:0">Crear Prueba</h3>
    </div>
    <div class="col s12 m12 l12 container center">
         <p>
            Crea la prueba del tipo que desees presentar. Recuerda completar
            los campos obligatorios para crear la prueba completamente.
        </p>
    </div>
    
    <div class="col s12 m12 l12" style="min-height:10vh">                    
        <form action="" class="signup-form" (ngSubmit)="onSubmit()">
                    <!-- Informaciòn Principal de la Pregunta -->
                    <div class="col s12 m12 l6 input-field">
                      <div class="section">
                          <h4>Tipo de Prueba: {{tipo}} </h4>
 
                          <h6>Fecha</h6>
                          <input id="fecha" class="pad-top" [(ngModel)]="prueba.fecha" name="nivelacademico" type="date"  placeholder="Fecha de la prueba" required=""/>


                          <h6>Numero de Preguntas</h6>
                          <input min="1" id="numpreguntas" class="pad-top" [(ngModel)]="prueba.numpreguntas" name="numpreguntas" type="number"  placeholder="Numero de preguntas de la prueba" required=""/>

                          <h6>Grado</h6>
                          <input min="1" max="11" id="nivelacademico" class="pad-top" [(ngModel)]="prueba.grado" name="nivelacademico" type="number"  placeholder="" min="0" required=""/>


                          <h6>Dificultad</h6>
                          <select class="browser-default" materialize="material_select" id="dificultad" name="dificultad" [(ngModel)]="prueba.dificultad">
                              <option selected disabled>Selecciona una opción</option>
                              <option *ngFor="let dif of dificultades" [value]="dif">{{dif}}</option>
                          </select>
                     
                          <h6>Temática</h6>
                          <select class="browser-default" materialize="material_select" id="tema" name="tema" [(ngModel)]="prueba.tema">
                              <option selected disabled>Selecciona una opción</option>
                              <option *ngFor="let tema of temas" [value]="tema">{{tema}}</option>
                          </select>
                     </div>
                    </div>
                    <div class="col s12 m12 l12" style="min-height:10vh">                    
                        <div class = "col s12 m12 l8">
                            <button class="waves-effect btn blue accent-3 btn" type="submit">
                                <i class="material-icons prefix left">next</i>Iniciar Prueba
                            </button> 
                        </div>
                    </div>
                  </form>
    </div>
    </div>
</div>
