<div class ="yellow lighten-3 row" style="min-height:100vh">
    <div class="container center col s12 m12 l12"> 
            <i class="material-icons prefix large" style ="color:black">assignment</i>
            <h3 style="margin-top:0">Pruebas</h3>
    </div>
    <div class="col s12 m12 l12 container center">
         <p>
            Acá puedes hacer las pruebas matemáticas. Pueden ser de practica o evaluadas.
        </p>
    </div>
    
    <div class="container section center yellow lighten-2  col s12 m12 l12" style="min-height:10vh">                    
                        <div class="section col s12 m12 l12"> 
                                Esta prueba guardará tus resulados en tu perfil
                        </div>
                        <div class = "col s12 m12 l8">
                            <a class="waves-effect btn blue accent-2 btn" routerLink="/pruebas/examen/crear">
                                <i class="material-icons prefix large">assignment</i>
                                Evaluación
                            </a> 
                      
                        </div>
    </div>
    <div class="container section center yellow lighten-1  col s12 m12 l12" style="min-height:10vh">                    

                        <div class="section col s12 m12 l12"> 
                                Esta prueba te dejará probar tus habilidades
                        </div>
                        <div class = "col s12 m12 l8">
                            <a class="waves-effect btn blue accent-3 btn" routerLink="/pruebas/ensayo/crear">
                                <i class="material-icons prefix large">cached</i>
                                Prueba
                            </a> 
                        </div>
    </div>

</div>