<section id="main-container">
        <div class="container">
            <div class="row">
                <div class="col s10 push-s1">
                    <div class="row">
                         <div class="col s12 m7">
                            <div class="row">
                                <div class="signup-box">
                                    <h1 class="login-title"> Registrar Institución </h1>
                                    <form action="" class="signup-form" (ngSubmit)="onSubmit()">
                                        <h2>Crea una institución para ClubMat</h2>
                                        <div class="divider"></div>
                                        <div class="section">
                                            <input name="nombre" type="text"  placeholder="Nombre" required="" class="validate"/>
                                            <input name="telefono" type="number" placeholder="Teléfono" />
                                            <input name="localidad" type="text" placeholder="Localidad" />
                                            <input institution.direccion" name="direccion" type="text" placeholder="Direccion" />
                                            <input name="ciudad" type="text" placeholder="Ciudad" />
                                            <input name="tipo" type="text" placeholder="Tipo" />
                                            <input name="rector" type="text" placeholder="Rector" />
                                            
                                            <button class="btn waves-effect waves-light btn-signup" type="submit"> Crear Institución </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>