<section id="main-container">
        <div class="container">
            <div class="row">
                <div class="col s10 push-s1">
                    <div class="row">
                         <div class="col s12 m7">
                            <div class="row">
                                <div class="signup-box">
                                    <h1 class="login-title"> Iniciar Sesión</h1>
                                    <form ngNoForm name="f" class="signup-form" action="/signin" method="post">
                                        <h2>Ingresa la información de tu cuenta</h2>
                                        <div class="divider"></div>
                                        <div class="section">
                                            <input name="username" type="text"  placeholder="Usuario" required="required">
                                            <input name="password" type="password" placeholder="Contraseña" required="required"/>
                                            <button class="btn waves-effect waves-light btn-signup" type="submit"> Iniciar Sesión </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
