<section id="main-container">
        <div class="container">
            <div class="row">
                <div class="col s10 push-s1">
                    <div class="row">
                        <div class="col m5 hide-on-small-only">
                            <img src="images/login.png" class="login-image" alt="">
                        </div>
                        <div class="col s12 m7">
                            <div class="row">
                                <div class="signup-box">
                                    <h1 class="login-title"> Prosofi Clubmat </h1>
                                    <form action="" class="signup-form">
                                        <h2> Regístrate como administrador o participante de una olimpiada matemática</h2>
                                        <div class="divider"></div>
                                        <div class="section">
                                            <input [(ngModel)]="user.usuario" type="text" name="username" placeholder="Nombre de Usuario" />
                                            <input [(ngModel)]="user.contrasena" type="password" name="password" placeholder="Contrase&ntilde;a" />
                                            <input [(ngModel)]="user.email" type="email" name="email" placeholder="Correo Electrónico" />
                                            <input [(ngModel)]="user.nombre" type="text" name="name" placeholder="Nombre" />
                                            <input [(ngModel)]="user.apellido" type="text" name="apellido" placeholder="Apellido" />
                                            <input [(ngModel)]="user.ciudad" type="text" name="ciudad" placeholder="Ciudad" />
                                            <input [(ngModel)]="user.telefono" type="text" name="celular" placeholder="Celular" />
                                            <h6>Rol</h6>
                                            <select class="browser-default" materialize="material_select" id="dificultad" name="dificultad" [(ngModel)]="user.rol">
                                                <option selected disabled>Selecciona una opción</option>
                                                <option *ngFor="let rol of roles" [value]="rol">{{rol}}</option>
                                            </select>
                                            <h6>Club</h6>
                                            <select class="browser-default" materialize="material_select" [(ngModel)]="club" name="club">
                                                <option *ngFor="let c of clubs" [ngValue]="c" >{{c.nombre}}</option>
                                            </select>
                                            <button class="btn waves-effect waves-light btn-signup" type="button" (click)="signup()" style="margin-top: 5%"> Crear Usuario </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="login-box">
                                    ¿Tienes una cuenta ? <a>Entrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>